.image-text1 {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .image-text1 h1 {
    font-size: 2.5rem; /* Adjust the size for smaller screens */
  }
  .image-text1 p {
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .image-text1 h1 {
    font-size: 3rem; /* Adjust size for tablets */
  }
  .image-text1 p {
    font-size: 2rem;
  }
}

@media (min-width: 1201px) {
  .image-text1 h1 {
    font-size: 4.5rem; /* Full size for large screens */
  }
  .image-text1 p {
    font-size: 3rem;
  }
}
